body {
    font-family: Arial;
    background-color: aliceblue;
    padding: 40px, 0px;
}
h2 {
    font-size: 28px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

span {
    color: grey;
}

img {
    width: 150px;
    height: 150px;
}

section, header {
    padding: 10px 60px 20px 60px;
    background-color: white;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

header ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.addres-icon {
    width: 16px;
    height: 16px;
    background-color: blue;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

.hobbies {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.hobbies li {
    width: 50%;
    align-items: flex-start;
}

.CV-download {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 10px grey;
}

.CV-download:hover {
    color: white;
    background-color: cornflowerblue;
}

.CV-download:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

.CV-download:active {
    text-decoration: underline;
}

.container {
    box-shadow: 0 0 10px grey;
    width: 860px;
    margin: 0 auto;
    background-color: white;
}